<div style="position: relative;">
  <div *ngIf="isDone && isOpen" style="transform: translate(20%, 100%);
    position: absolute;
    top: 50%;
    right: 50%;
   z-index: 2;">
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
    </button>
  </div>
  <div class="parenit container my-2">
    <div class="child">
      <ng-select (open)="openMenu()" (close)="closeMenu()" #mySelect (scrollToEnd)="onScrollToEnd()" bindLabel="title"
        [hideSelected]="true" [multiple]="false" [clearable]="true" [clearSearchOnAdd]="true"
        (change)="onMaterialGroupChange($event)">
        <ng-option disabled>Select Book</ng-option>
        <ng-option *ngFor="let book of books$;let $index=index" [value]="book">
          {{book}}
        </ng-option>
      </ng-select>
      <div class="handle" [hidden]="!showHandle"></div>
    </div>
    <div class="child">
      <h4>Selected Books</h4>
      <div cdkDropList class="example-list w-100" (cdkDropListDropped)="drop($event)">
        <div class="example-box" style="max-width: 90%;" *ngFor="let book of _listbooks$; let index = index" cdkDrag>
          {{ book }}
          <i class="fa-solid fa-delete-left deleteitem" (click)="delete(book, index)"></i>
        </div>
      </div>
    </div>
    <div class="child">
      <h4>List preview</h4>
      <div #myHeader style=" 
      border: 1px solid;
   padding: 10px;
   border-radius: 15px;">

        <p class="text_in_lastbox">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, nisi?</p>
        <p *ngFor="let x of _listbooks$" class="newBookChoise">
          {{x}}
        </p>
        <button (click)="myHeader.style.background=' rgb(11, 228, 156)'"
          style="background-color: rgb(11, 228, 156); border-radius: 50%; padding: 5px;"></button>
        <button (click)="myHeader.style.background=' rgb(43, 155, 230)'"
          style="background-color: rgb(43, 155, 230); border-radius: 50%; padding: 5px;"></button>
        <button (click)="myHeader.style.background='rgb(106, 79, 243)'"
          style="background-color: rgb(106, 79, 243); border-radius: 50%; padding: 5px;"></button>
      </div>
    </div>
  </div>
</div>