<div class="d-flex justify-content-center align-items-center">
  <div>
    <ng-select #mySelect (scrollToEnd)="onScrollToEnd()" bindLabel="title" [hideSelected]="true" [multiple]="false"
      [clearable]="true" [clearSearchOnAdd]="true" (change)="onMaterialGroupChange($event)">
      <ng-option disabled>Select Book</ng-option>
      <ng-option *ngFor="let book of books$;let $index=index" [value]="book">
        {{book}}
      </ng-option>
    </ng-select>
    <div class="handle" [hidden]="!showHandle"></div>
  </div>
  <div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let book of _listbooks$; let index = index" cdkDrag>
        {{ book }}
        <i class="fa-solid fa-delete-left deleteitem" (click)="delete(book, index)"></i>
      </div>
    </div>
  </div>

  <div #myHeader style=" 
     border: 1px solid;
  padding: 10px;">
    <p *ngFor="let x of _listbooks$" class="newBookChoise">
      {{x}}
    </p>
    <button (click)="myHeader.style.background=' rgb(11, 228, 156)'"
      style="background-color: rgb(11, 228, 156); border-radius: 50%; padding: 5px;"></button>
    <button (click)="myHeader.style.background=' rgb(43, 155, 230)'"
      style="background-color: rgb(43, 155, 230); border-radius: 50%; padding: 5px;"></button>
    <button (click)="myHeader.style.background='rgb(106, 79, 243)'"
      style="background-color: rgb(106, 79, 243); border-radius: 50%; padding: 5px;"></button>
  </div>
</div>